<html>
<head></head>


<body>
  <div id="root"></div>
  <script>window._POST_= {{{post}}}</script> 
  {{! the route from the server has the post slug data attached to it }}
 
  <script src="/dist/bundle/index.js"></script>
</body>

</html>                           